.tabs {
	margin-bottom: -1px !important;
	position: relative;
}

.tab-content {
	padding: 60px 120px 0px 120px;
	top: 197px;
	color: #000;
	background-color: white;
}

.content-title {
	text-decoration: underline;
}

.content-divider {
	padding-bottom: 60px;
}

.tab-default {
	/* padding: 30px 0px; */
	top: 197px;
	color: #000;
	background-color: white;
}

.content-font {
	color: black !important;
}

.tab-pane {
	display: none;
}

/* .tab-pane.is-active {
display: block;
width: 50%;
position: relative;
left: 50%;
transform: translateX(-50%);
} */

.is-active {
	display: initial;
}

.cent {
	display: block;
	margin: auto auto;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: whitesmoke;
	-webkit-box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.16);
	box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.16);
}

.video {
	display: block;
	margin: 0 auto;
}

/* CSS from http://embedresponsively.com */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.habu {
	background-image: url("../images/header.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.5);
}

.box {
	height: 100%;
}

.card {
    display:flex;
	flex-direction: column;
	height: 100%;
}
.card-footer {
    margin-top: auto;
}

.remove-bottom-space {
	padding-bottom:0px;
	margin-bottom:0px;
}

.end-of-page {
	padding-bottom: 120px;
}

.underline {
	text-decoration: underline;
}

.full-height {
	height:100%;
}

.auto-margins {
	margin: auto;
}