---
layout: default
title: Home
---
{% assign slemail = "shogiluxembourg@gmail.com" %}

<div class="tab-default">
    <!-- TAB 1: WELCOME -->
    <div class="tab-pane is-active" id="pane-1">
        <section class="tab-content has-text-centered">
            <h1 class="title content-font">
                Home
            </h1>
            <hr class="limit-width">
        </section>
        <!-- CONTENT 1 -->
        <section class="tab-content">
            <div class="container is-fullhd">

                <div class="columns mb-6">
                    <div class="column is-8-desktop is-6-tablet is-full-mobile">
                        <div class="box has-text-justified">
                            <h2 class="title is-2 is-spaced has-text-black">News</h2>
                            <hr>
                            {% for post in site.posts limit:3 %}
                            <p class="title has-text-black">{{ post.title }}</p>
                            <p class="subtitle has-text-weight-light has-text-grey is-6">
                                {{ post.date | date: "%A, %-d %B %Y"}}</p>
                            <p class="content">{{ post.content }}</p>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <h2 class="title is-2 is-spaced has-text-black">Events</h2>
                            <hr>
                            {% assign eventsize = site.events | size %}
                            {% if eventsize == 0 %}
                            <div class="is-centered has-text-centered is-vcentered">
                                <i class="far fa-clock fa-3x mb-1"></i>
                                <p class="subtitle has-text-grey-dark">No current events</p>
                            </div>
                            {% endif %}

                            {% for event in site.events limit:3 %}
                            <article class="media has-ribbon-bottom is-small">
                                <div class="media-left">
                                    <div class="box has-text-centered" style="background-color: red;padding: 0.75rem;">
                                        <h1 class="subtitle is-2" style="margin-bottom: 0rem;">
                                            {{ event.date | date: "%-d" }}</h1>
                                        <h5 class="subtitle is-6">{{ event.date | date: "%B" }}</h5>
                                    </div>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 has-text-black">{{ event.title }}</p>
                                    <h5 class="subtitle is-6 has-text-grey-darker" style="margin-bottom: 0rem;">Where:
                                        {{ event.location }}</h5>
                                    <h5 class="subtitle is-6 has-text-grey-darker">When: {{ event.date | date: "%R" }}</h5>
                                </div>
                                <div class="media-right">
                                    <div class="ribbon is-small is-primary">{{ event.price }}</div>
                                </div>
                            </article>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="columns is-vcentered mt-6">
                    <div class="column is-6">
                        <div class="has-text-justified">
                            <p class="title content-font">Experience a Traditional Japanese Art Form</p>
                            <hr>
                            <p class="subtitle content-font">Shogi is much more than just a game for entertainment. It is
                                considered by many to be part of the traditional Japanese art culture along the likes of
                                Haiku, noh and tea ceremonies. If you study and understand enough, you will be able to
                                express yourself and win in your own unique style of play.</p>
                        </div>
                    </div>
                    <div class="column">
                        <!-- <div class="box"> -->
                        <figure class="image">
                            <img src="images/front/sm-habu.jpg" alt="Habu playing Shogi" class="cent">
                        </figure>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- CONTENT 2 -->
        <section class="tab-content content-divider">
            <div class="container is-fullhd">
                <div class="columns is-vcentered">
                    <div class="column">
                        <figure>
                            <!-- SOURCE FOR IMAGE https://www.photo-ac.com/main/detail/1433517?title=%E5%B0%86%E6%A3%8B&searchId=84776524# -->
                            <img src="images/front/sm-shogi_show.jpg" alt="Image by 遊歩楽心 on photo-ac" class="cent">
                        </figure>
                    </div>
                    <div class="column is-6">
                        <div class="has-text-justified">
                            <p class="title content-font">Immerse Yourself in Great Complexity</p>
                            <hr>
                            <p class="subtitle content-font">Despite having fast to learn rules, Shogi is far from an easy
                                game. With an astounding number of 10<sup>224</sup> possible states in Shogi, mastery of the
                                game comes with much study and experience. However, even for casual players the complexity
                                becomes enjoyable, as you will never have the same game twice. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CONTENT 3 -->
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container has-text-centered is-vcentered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Need more information or have a question?
                        </h1>
                        <div class="box">
                            <i class="fas fa-envelope fa-lg"></i>
                            <span class="title has-text-black"><a href="mailto:{{ slemail }}"
                                    class="has-text-black">{{ slemail }}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
        <div class="tab-pane end-of-page" id="pane-2">
        <section class="tab-content has-text-centered">
            <h1 class="title content-font">
                Learn Shogi
            </h1>
            <hr class="limit-width">
        </section>
        <!-- INTRODUCTION TO LEARNING -->
        <section class="tab-content has-text-justified remove-bottom-space" style="padding-top:0px;">
            <div class="container is-fullhd">
                <h2 class="subtitle is-4 has-text-grey-dark has-text-justified">
                    Shogi is the most popular chess variant in Japan. Many similarities between Shogi and western
                    chess can be seen as they evolved off of the same ancestor. The main objective of the game is to
                    checkmate the opponent's king, while keeping your own safe. Nowadays, there are many
                    international options to learn about shogi with more being created
                    every day. Below
                    is a list of some video and reading sources that can be used as a starting point.
                </h2>
            </div>
        </section>
        <section class="tab-content has-text-centered">
            <h1 class="title content-font is-1">
                Beginner Material
            </h1>
            <hr class="limit-width">
        </section>
        <!-- INTRODUCTION TO BEGINNER MATERIAL -->
        <section class="tab-content has-text-justified remove-bottom-space" style="padding-top:0px;">
            <div class="container is-fullhd">
                <h2 class="subtitle is-4 has-text-grey-dark has-text-centered">
                    If you have not played at all, check out one of these
                    sources to get started on your shogi adventure!
                </h2>
            </div>
        </section>

        <section class="section tab-content">
            <div class="container is-fullhd">
                <div class="row columns is-multiline">
                    <!-- CARDS BEGINNER MATERIAL -->
                    {% for material in site.beginner_material %}
                    <div class="column is-4-widescreen is-6-tablet">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    <span class="icon is-small"><i class="{{ material.icon }}"
                                            style="margin-right: 5px;"></i></span>
                                    {{ material.type }}
                                </p>
                                <span class="image {{ material.language }}"></span>
                            </header>
                            <div class="card-content">
                                <div class="media" style="margin-bottom: 0rem;">
                                    <div class="media-left">
                                        <figure class="image is-16by9" style="width: 96px;">
                                            <img src="{{ material.image_url }}" alt="{{ material.author }}">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4 has-text-black">{{ material.title }}</p>
                                        <p class="subtitle is-6 has-text-grey-dark">{{ material.author }}</p>
                                    </div>
                                </div>
                                <div class="content has-text-justified">
                                    <hr>
                                    {{ material.content }}
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ material.link }}" class="card-footer-item">Visit Source</a>
                            </footer>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="tab-content has-text-centered">
            <h1 class="title content-font is-1">
                Further Material
            </h1>
            <hr class="limit-width">
        </section>
        <!-- INTRODUCTION TO FURTHER MATERIAL -->
        <section class="tab-content has-text-justified remove-bottom-space" style="padding-top:0px;">
            <div class="container is-fullhd">
                <h2 class="subtitle is-4 has-text-grey-dark has-text-centered">
                    Once you have got the basics down, you can either
            attempt to start playing games (see the <strong class="has-text-black">Play</strong> tab), or you
            can study further and grasp a deeper understanding of the game and how to improve. Here are a few
            resources to get you started.</h2>
                </h2>
            </div>
        </section>
        <section class="section tab-content">
            <div class="container is-fullhd">
                <div class="row columns is-multiline">
                    <!-- CARDS FURTHER MATERIAL -->
                    {% for material in site.further_material %}
                    <div class="column is-4-widescreen is-6-tablet">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    <span class="icon is-small"><i class="{{ material.icon }}"
                                            style="margin-right: 5px;"></i></span>
                                    {{ material.type}}
                                </p>
                                <span class="image {{ material.language}}"></span>
                            </header>
                            <div class="card-content">
                                <div class="media" style="margin-bottom: 0rem;">
                                    <div class="media-left">
                                        <figure class="image" style="width: 96px;">
                                            <img src="{{ material.image_url }}" alt="{{ material.author }}">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4 has-text-black">{{ material.title }}</p>
                                        <p class="subtitle is-6 has-text-grey-dark">{{ material.author }}</p>
                                    </div>
                                </div>
                                <div class="content has-text-justified">
                                    <hr>
                                    {{ material.content }}
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ material.link }}" class="card-footer-item">Visit Source</a>
                            </footer>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <div class="tab-pane" id="pane-3">
        <section class="tab-content has-text-centered">
            <h1 class="title content-font">
                Play Shogi
            </h1>
            <hr class="limit-width">
        </section>
        <!-- INTRODUCTION TO PLAYING -->
        <section class="tab-content has-text-justified remove-bottom-space" style="padding-top:0px;">
            <h2 class="subtitle is-4 has-text-grey-dark has-text-justified">
                <!-- PLACEHOLDER -->
            </h2>
        </section>
        <!-- ONLINE -->
        <section class="tab-content">
            <div class="container is-fullhd">
                <h1 class="title is-1 content-font has-text-centered">Online</h1>
                <hr class="limit-width">
                <h2 class="subtitle is-4 has-text-grey-dark has-text-justified">There are many options to play Shogi
                    on the internet and we would suggest to get started as soon as you feel ready! Below are listed
                    the most popular options for international and many Japanese Shogi players.</h2>

                {% assign ordered_platforms = site.play_location | sort:"order" %}
                {% for platform in ordered_platforms %}
                {% if platform.location == "online" %}
                <a href="{{ platform.link }}" target="_blank">
                    <div class="tile is-parent">
                        <div class="tile notification is-child {{ platform.colour_class }} is-fullwidth">
                            <div class="content">
                                <div class="columns is-vcentered">
                                    <div class="column is-5">
                                        <figure class="image">
                                            <img src="{{ platform.img_src }}" alt="{{ platform.link }}" class="cent">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <p class="title is-2">{{ platform.title }}</p>
                                        <p class="subtitle is-5 has-text-justified">{{ platform.content }}</p>
                                        <hr>
                                        <p class="title is-5">Features</p>
                                        <ul>
                                            {% for feature in platform.features %}
                                            <li>{{ feature }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <!-- OFFLINE -->
        <section class="tab-content mb-6">
            <div class="container is-fullhd">
                <h1 class="title is-1 content-font has-text-centered">Offline</h1>
                <hr class="limit-width">
                <h2 class="subtitle is-4 has-text-grey-dark has-text-justified">In person events are the best way to
                    experience both casual and amateur Shogi. Unfortunately, during Covid-19 times, having access to
                    in person events is very difficult if not currently impossible. Nevertheless, below is listed a
                    few options. </h2>

                {% assign ordered_platforms = site.play_location | sort:"order" %}
                {% for platform in ordered_platforms %}
                {% if platform.location == "offline" %}
                <a href="{{ platform.link }}" target="_blank">
                    <div class="tile is-parent">
                        <div class="tile notification is-child {{ platform.colour_class }} is-fullwidth">
                            <div class="content">
                                <div class="columns is-vcentered">
                                    <div class="column is-5">
                                        <figure class="image">
                                            <img src="{{ platform.img_src }}" alt="{{ platform.link }}" class="cent">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <p class="title is-2">{{ platform.title }}</p>
                                        <p class="subtitle is-5 has-text-justified">{{ platform.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>

    </div>
    <div class="tab-pane" id="pane-4">
        <section class="tab-content has-text-centered">
            <h1 class="title content-font">
                Shogi Community
            </h1>
            <hr class="limit-width">
        </section>
        <section class="tab-content">
            <div class="container id-fullhd">
                <h1 class="title is-1 content-font has-text-centered">Local</h1>
                <hr class="limit-width">
                <h2 class="subtitle is-4 has-text-grey-dark has-text-justified">Collection of all the online community
                    options that exist around Luxembourg. These links will mostly come from services that are hosted by
                    shogi.lu. Make sure to check out the services that you use most!</h2>
            </div>
        </section>
        <section class="tab-content">
            <div class="container is-fullhd">
                <div class="columns is-multiline is-centered">
                    {% for community in site.communities %}
                    {% if community.location == "local" %}
                    <div class="column is-6-tablet is-4-desktop">
                        <a href="{{ community.link }}" target="_blank">

                            <div class="box {{ community.font_colour }}" {{ community.colour }}>
                                <div class="content">
                                    <div class="columns has-text-centered is-vcentered">
                                        <div class="column is-12">
                                            <figure class="image is-96x96 auto-margins" style="margin-left: auto;margin-right: auto;">
                                                <img src="{{ community.logo }}" alt="{{ communitsy.link }}"
                                                    class="cent image">
                                            </figure>
                                            <p class="title is-4 underline {{ community.font_colour }}">{{ community.title }}</p>
                                            <p class="subtitle is-5 has-text-justified {{ community.font_colour }}">{{ community.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="tab-content">
            <div class="container is-fullhd">
                <h1 class="title is-1 content-font has-text-centered">Global</h1>
                <hr class="limit-width">
                <h2 class="subtitle is-4 has-text-grey-dark has-text-justified">Collection of many global Shogi communities
                    where you can meet and play against people all accross the globe! This section will be populated with
                    many services from online chat rooms to other Shogi associations! If you find something of interest, be
                    sure to check them out!</h2>
            </div>
        </section>
        <section class="tab-content mb-6">
            <div class="container is-fullhd">
                <div class="columns is-multiline is-centered">
                    {% for community in site.communities %}
                    {% if community.location == "global" %}
                    <div class="column is-6-tablet is-4-desktop">
                        <a href="{{ community.link }}" target="_blank">

                            <div class="box {{ community.font_colour }}" {{ community.colour }}>
                                <div class="content">
                                    <div class="columns has-text-centered is-vcentered">
                                        <div class="column is-12">
                                            <figure class="image is-96x96 auto-margins" style="margin-left: auto;margin-right: auto;">
                                                <img src="{{ community.logo }}" alt="{{ communitsy.link }}"
                                                    class="cent image">
                                            </figure>
                                            <p class="title is-4 underline {{ community.font_colour }}">{{ community.title }}</p>
                                            <p class="subtitle is-5 has-text-justified {{ community.font_colour }}">{{ community.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container has-text-centered is-vcentered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Want your community to be listed?
                        </h1>
                        <div class="box">
                            <i class="fas fa-envelope fa-lg"></i>
                            <span class="title has-text-black"><a href="mailto:{{ slemail }}"
                                    class="has-text-black">{{ slemail }}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>