<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Luxembourg Shogi Association. Introducting Japanese Chess to the heart of Europe.">
    <meta property="og:site_name" content="Shogi Luxembourg">
    <meta property="og:url" content="https://shogi.lu/">
    <meta property="og:title" content="Welcome to Shogi Luxembourg!">
    <meta property="og:description" content="Luxembourg Shogi Association. Bringing Japanese Chess to the heart of Europe.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/communities/shogiluxembourg.png">

    <title>Shogi Luxembourg</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="css/mystyles.css">
    <link rel="stylesheet" href="css/tabs.css">
    <link rel="stylesheet" href="css/flags.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <!-- COOKIES!!! -->
    <link rel="stylesheet" type="text/css" href="cookies/cookies-eu-banner.css">

</head>

<body>
    <div id="cookies-eu-banner" style="display: none;">
        This website would like to use Google Analytics to find out the popularity and location of interested participants. The information will only be used for statistical purposes and will never be shared with anyone else.
        <!-- <a href="./read-more.html" id="cookies-eu-more">Read more</a> TODO PAGE -->
        <button id="cookies-eu-reject">Reject</button>
        <button id="cookies-eu-accept">Accept</button>
    </div>
    <section class="hero is-info habu">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Shogi Luxembourg
                </h1>
                <h2 class="subtitle">
                    Bringing Japanese chess to the heart of Europe
                </h2>
            </div>
        </div>
        <div class="tabs is-boxed is-centered main-menu" id="nav">
            <ul>
                <li data-target="pane-1" id="1" class="is-active">
                    <a>
                        <span class="icon is-small"><i class="fas fa-home"></i></span>
                        <span>Home</span>
                    </a>
                </li>
                <li data-target="pane-2" id="2">
                    <a>
                        <span class="icon is-small"><i class="fas fa-graduation-cap"></i></span>
                        <span>Learn</span>
                    </a>
                </li>
                <li data-target="pane-3" id="3">
                    <a>
                        <span class="icon is-small"><i class="fas fa-play"></i></span>
                        <span>Play</span>
                    </a>
                </li>
                <li data-target="pane-4" id="4">
                    <a>
                        <span class="icon is-small"><i class="fas fa-wifi"></i></span>
                        <span>Community</span>
                    </a>
                </li>
            </ul>
        </div>

        {{ content }}

    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                This website was generated by Johannes using <a href="https://bulma.io/">Bulma</a> and <a
                    href="https://jekyllrb.com/">Jekyll</a>. If there is any issue be
                sure to get in touch.
            </p>
            <p class="has-text-weight-light">Last Update: {{ site.time | date: "%A %-d %B %Y at %R"}} </p>
        </div>
    </footer>
    <script src="js/tabs.js"></script>
    <!-- COOKIES! -->
    <script src="cookies/cookies-eu-banner.js"></script>
    <script>
        new CookiesEuBanner(function() {
            /* LOAD THE SCRIPT */
            var ga = document.createElement("script");
            ga.src = "https://www.googletagmanager.com/gtag/js?id=UA-114122461-2";
            document.head.appendChild(ga);
            /* ACTIVATE THE SCRIPT */
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-114122461-2');
        }, true);
    </script>
</body>

</html>